@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}


@layer components {
  .fixed-size-container {
    @apply h-full w-full overflow-hidden;
  }


}


@Layer utilities {
  .home {
    @apply no-scrollbar flex flex-wrap w-full xl:flex-nowrap min-h-[820px] overflow-y-scroll xl:overflow-hidden;
  }
  .project-tabs {
    @apply h-[20rem] md:h-[30rem] [perspective:1000px] relative flex flex-col max-w-[45rem] mx-auto w-[95%] md:w-full  items-start justify-start mt-10;
  }
  .project-section {
    @apply flex p-10 items-center h-screen w-screen xl:min-h-[820px];
  }
  
  
  .left-panel {
    @apply flex flex-col md:flex-row space-y-6 md:space-x-10 items-center justify-center h-full w-full xl:w-1/2;
  }


  .right-panel {
    @apply flex flex-col space-y-4 justify-center py-[8rem] md:h-full md:py-0 w-full xl:w-1/2 ;
  }

  .mobilenav-sheet {
    @apply flex h-[calc(100vh-72px)] flex-col justify-between overflow-y-auto;
  }

  .mobilenav-sheet_close {
    @apply flex gap-3 items-center p-4 rounded-lg w-full max-w-60 rounded-xl w-full;
  }

  .mobilenav {
    @apply w-full max-w-[264px] fixed p-4 sm:p-8 md:hidden;
  }

  .bg-bank-gradient {
    background-image: linear-gradient(90deg, #546770 0%, #90abd1 100%);
  }

  .bg-xl-menu-gradient {
    background-image: linear-gradient(90deg, #bbbfc1 0%, #46494b 100%);
  }

}




